<!-- your html code here -->
<div class="container">
    <div class="row">
        <h1>Contact</h1>
    </div>
    <div class="row">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consequat risus in augue volutpat hendrerit. Fusce ac auctor velit. Vivamus turpis velit, vulputate id tempor eget, molestie tempus nibh. Suspendisse sed sodales ex, sed malesuada arcu.</p>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-10">
            <form class="input-group form-control d-flex flex-column justify-content-end" style="background-color: lightgrey;">
                <div class="row"></div>
                <div class="row mb-3">
                    <label for="inputText" class="col-4 col-form-label">Your E-Mail</label>
                    <div class="col-8">
                        <input type="text" class="form-control" id="inputText" placeholder="Your email">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="textArea2" class="col col-form-label">Your Message</label>
                    <div class="col-8">
                        <textarea class="form-control" id="textArea2" rows="3" placeholder="Please enter your message here..."></textarea>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary align-self-center">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>